*{
    margin:0;
    padding:0;
}

body{
background-color:black;
}

.left-section{
    background-color: #ffff;
    margin-left: 3rem;
    margin-top:3rem;
    width:22vw;
    height: 46rem;
}

 .h3{
font-family:'inter', sans-serif;
font-size: 16px;
font-weight: 600; 
padding-top: .5rem;
padding-bottom: .5rem;
margin-left: .3rem;
} 

.input-1{
    width: 8rem;
    height: 1.8rem;
    Border: 1px solid #DDE2E4;
    border-radius: 6px;
    margin-left: .3rem;
}

.input-2{
    width: 8rem;
    height: 1.8rem;
    Border: 1px solid #DDE2E4;
    border-radius: 6px;
    /* gap:1rem; */
    margin-left: 1rem; 
}

.left-section h4{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-top: 1.5rem;
    padding-bottom:.3rem;
    line-height: 24px;
    color:#252C32;
    margin-left: .3rem;
}

.filterA, .filterB, .filterC, .filterD{
padding-top: .4rem;
display:flex;
gap: .5rem;
margin-left: .3rem;
}
.filterA .checkbox, .filterB .checkbox, .filterC .checkbox, .filterD .checkbox{
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color:#F6F8F9;
    border: 1px solid #B0BABF;
   
    /* margin-left: .3rem; */
}

.filterA .text, .filterB .text, .filterC .text, .filterD .text{
    font-family: 'inter', sans-serif;
    font-weight:100;
    font-size: 15px;
}