p {
  margin: 0px;
  padding: 0px;
}

.header {
  width: 1400px;
  height: 112px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header > .sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > .sub-header > .logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 7px;
}

.header > .sub-header > .center-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header > .sub-header > .center-bar > .btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.header > .sub-header > .center-bar > .btn-search > .btn-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #4094f7;
  border-radius: 6px;
  padding: 8px 16px;
}

.header > .sub-header > .center-bar > .btn-search > .btn-title > .cat-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  gap: 8px;
  color: #f6f8f9;
}

.header > .sub-header > .center-bar > .btn-search > .search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 560px;
  height: 40px;
  border: 1px solid #dde2e4;
  border-radius: 6px;
  padding: 0px 16px;
}

.header > .sub-header > .center-bar > .orders-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.header > .sub-header > .center-bar > .orders-cart > .orders-fav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header
  > .sub-header
  > .center-bar
  > .orders-cart
  > .orders-fav
  > .orders-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding-left: 10px;
}

.header > .sub-header > .sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77px;
  height: 40px;
  border: 1px solid #dde2e4;
  border-radius: 6px;
  padding-left: 11px;
}

.header p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.006em;
}

.header .sub-header .location {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.header p:last-child {
  margin-right: 20px;
}

.header .sub-header .categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

#cart {
  position: relative;
}
#orders {
  position: absolute;
  background-color: red;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 2px solid #fff;
  padding-left: 2.5px;
  display: flex;
  align-items: center;
  top: -7px;
  left: 17px;
  color: #fff;
}

#orders p {
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
